//- DOM basic styles

/**
 * body set to fill in the viewport and smooth scrolling
 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/**
 * Basic link styles
 */
a {
  color: $main-color;
  text-decoration: none; 

  &:not([class]) {
    text-decoration-skip-ink: auto; /* better underline resdering */
  }

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
 * Basic images styles
 */
img {
  display: block;
  max-width: 100%;
}

/**
 * Axiomatic CSS and Lobotonized Owls for flows
 * https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
 */
article > * + * {
  margin-top: $flow-space * 1.5;
}