//- Basic typography style

html {
  font: normal 62.5% / 1.4 $text-font-stack; //- 62.5% makes 'em' unit computed as 10px; 125% makes 'em' units computed as 20px;
}

body {
  color: $text-color;
}

//- TBD Headings, Parragraphs
h1 {
  //- Selects all mobile sizes until 640px
  @include media('screen', '<=mobile') {
    font-size: map-get($heading-font-1--map, small);
  }

  //- Selects all tablet sizes from 641px to 1024px
  // @include media('screen', '>mobile', '<=laptop') {
  //   font-size: map-get($heading-font-1--map, medium);
  // }

  //- Selects all laptop sizes from 1025px to 1280px
  // @include media('screen', '>laptop', '<=desktop') {
  //   font-size: map-get($heading-font-1--map, large);
  // }

  //- Selects all desktop screens bigger than 1281px
  @include media('screen', '>desktop') {
    font-size: map-get($heading-font-1--map, xlarge);
  }
}

h2 {
  font-size: $heading-font-2;
}

h3 {
  font-size: $heading-font-3;
}

h4 {
  font-size: $heading-font-4;
}

h5 {
  font-size: $heading-font-5;
}

h6 {
  font-size: $heading-font-6;
}

p {
  //- @include respond-to(small) {
  @include media('screen', '<=mobile') {
    font-size: map-get($parragraph--map, small)
  }

  //- @include respond-to(medium) {
  @include media('screen', '>mobile', '<=tablet') {
    font-size: map-get($parragraph--map, medium)
  }

  //- @include respond-to(large) {
  @include media('screen', '>tablet', '<=desktop') {
    font-size: map-get($parragraph--map, large)
  }
}