$font-path: '../fonts/';
$img-path: '../images/';

@font-face {
  font-family: OpenSans;
  src: url($font-path + 'OpenSans-Regular.ttf');
}

body {
  font-family: OpenSans;
  min-height: 100vh;
  background: rgb(94, 0, 58);
  color: white;
  background-image: url($img-path + 'cat.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
}
