@charset 'UTF-8';

//- Configuration and helpers - tools and helpers 
@import 'abstracts/variables',
        'abstracts/functions',
        'abstracts/mixins',
        'abstracts/placeholders';  

//- Vendors - eg: normalize
@import 'vendors/normalize';

//- Base - project standard styles for commonly used HTML elements
@import 'base/reset',
        'base/base',
        'base/fonts',
        'base/typography',  
        'base/helpers'; 

//- Layout areas
@import 'layout/header',
        'layout/footer',
        'layout/sidebar',
        'layout/navigation',
        'layout/forms';

//- Components
@import 'components/buttons',
        'components/form-elements',
        'components/icons';

//- Specific Pages
@import 'pages/home',
        'pages/contact';

