//- Under Construction specific styles
body {
  //- full background declaration guidenance
  background: $main-color url($image-path + 'cat.jpg') no-repeat center center;  
  // background-color: $background-color;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $light-grey;
}