$resolution-blue: #283877; //- New blue variable - 1st time implemented for bingo page > tabs (http://www.htmlcsscolor.com/hex/283877) + Bingo Scheduler: title and subtitle
$dark-slate-blue: #263274;
$violet: #23337e;
$cool-gray: #8890b3; //- .c-tile: PIN and INFO icon + Bingo Scheduler: progress-bar background
$darkblue: #112268; //- Base of all blue
$vibrantred: #ff4057;
$bright-sky-blue: #02b5ec;
$bright-gray: #e7e8ef; //- Bingo Scheduler: tile background;

// ## SKIN COLORS
$yellow: #fdd941;
$pink: #ec028d;
$pinklite: #fa25a4;
$pink-hover: mix($pink, $white, 70%); //- Bingo Scheduler: play cta hover background