//- Color variables

/// @type Color
$text-color: rgb(65, 71, 75) !default;
$main-color: rgb(204, 102, 102) !default;
$light-grey: rgb(245, 245, 245) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;