//- Fonts variables

//- Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$thumbnail-font-stack: 'Overlock', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', cursive !default;

//- Set heading font-size
$heading-font-1: 2.25em;
$heading-font-1--map : (
  small: 1.6em,
  medium: 1.8em,
  large: 2em,
  xlarge: 2.25em
); 
$heading-font-2: 2em;
$heading-font-3: 1.75em;
$heading-font-4: 1.5em;
$heading-font-5: 1.25em;
$heading-font-6: 1em;

$parragraph--map: (
  small: .6em,
  medium: 1em,
  large: 1.75em
);