//- This file contains application global variables

//- Relative or absolute URL where all assets are served from
/// @type String
$base-url: '../assets/' !default;
$image-url: '../assets/images/' !default;
$font-url: '../assets/fonts/' !default;